body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #b9c2cd, #f2f4f4);
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  text-align: center;
  color: rgb(13, 0, 0);
}

.login-box {
  background-color: white;
  color: black;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  display: inline-block;
  text-align: left;
}

.login-box input {
  display: block;
  width: 250px;
  margin: 10px 0;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.login-box button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: #007bff;
  color: rgb(232, 224, 224);
  font-size: 16px;
  cursor: pointer;
}

.login-box button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
